<?xml version="1.0" encoding="UTF-8"?>

<Server version="8">
    <Name>OvenMediaEngine</Name>
    <Type>origin</Type>
    <IP>*</IP>
    <StunServer>stun.l.google.com:19302</StunServer>
    <Bind>
        <Providers>
            <RTMP>
                <Port>1935</Port>
            </RTMP>
            <WebRTC>
                <Signalling>
                    <Port>3332</Port>
                    <TLSPort>3333</TLSPort>
                </Signalling>
                <IceCandidates>
                    <TcpRelay>*:3478</TcpRelay>
                    <IceCandidate>*:10000-10005/udp</IceCandidate>
                </IceCandidates>
            </WebRTC>
        </Providers>
        <Publishers>
            <WebRTC>
                <Signalling>
                    <Port>3332</Port>
                    <TLSPort>3333</TLSPort>
                </Signalling>
                <IceCandidates>
                    <TcpRelay>*:3478</TcpRelay>
                    <IceCandidate>*:10000-10005/udp</IceCandidate>
                </IceCandidates>
            </WebRTC>
        </Publishers>
        <Managers>
            <API>
                <Port>8081</Port>
                <TLSPort>8082</TLSPort>
            </API>
        </Managers>
    </Bind>
    <Managers>
        <Host>
            <Names>
                <Name>*</Name>
            </Names>
            <TLS>
                <CertPath>/your/path/to/cert_file.crt</CertPath>
                <ChainCertPath>/your/path/to/chain_cert_file.crt</ChainCertPath>
                <KeyPath>/your/path/to/key_file.key</KeyPath>
            </TLS>
        </Host>
        <API>
            <AccessToken>your_api_access_token</AccessToken>
        </API>
    </Managers>

    <VirtualHosts>
        <!-- You can use wildcard like this to include multiple XMLs -->
        <VirtualHost include="VHost*.xml" />
        <VirtualHost>
            <Name>default</Name>
            <Host>
                <Names>
                    <Name>*</Name>
                </Names>
                <TLS>
                    <CertPath>/your/path/to/cert_file.crt</CertPath>
                    <ChainCertPath>/your/path/to/chain_cert_file.crt</ChainCertPath>
                    <KeyPath>/your/path/to/key_file.key</KeyPath>
                </TLS>
            </Host>
            <!-- Settings for applications -->
            <Applications>
                <Application>
                    <Name>app</Name>
                    <!-- Application type (live/vod) -->
                    <Type>live</Type>
                    <OutputProfiles>
                        <OutputProfile>
                            <Name>bypass_stream</Name>
                            <OutputStreamName>${OriginStreamName}</OutputStreamName>
                            <Encodes>
                                <Video>
                                    <Bypass>true</Bypass>
                                </Video>
                                <Audio>
                                    <Bypass>true</Bypass>
                                </Audio>
                            </Encodes>
                        </OutputProfile>
                    </OutputProfiles>
                    <Providers>
                        <WebRTC />
                        <RTMP />
                    </Providers>
                    <Publishers>
                        <SessionLoadBalancingThreadCount>2</SessionLoadBalancingThreadCount>
                        <StreamLoadBalancingThreadCount>4</StreamLoadBalancingThreadCount>
                        <WebRTC>
                            <Timeout>30000</Timeout>
                            <Rtx>false</Rtx>
                            <Ulpfec>false</Ulpfec>
                        </WebRTC>
                    </Publishers>
                </Application>
            </Applications>
        </VirtualHost>
    </VirtualHosts>
</Server>